<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>전남관광명소</title>

    <link rel="stylesheet" href="../css/default.css">

    <link rel="stylesheet" href="../css/common.css">

    <link rel="stylesheet" href="../css/board.css">

    <script src="../js/jquery.min.js"></script>

    <script src="../js/script.js"></script>
</head>

<body>
    <div id="wrap">
        <div id="header" class="main-header">
            <div class="wrap">
                <div id="logo">
                    <h1><a href="#">전남관광명소</a></h1>
                </div>

                <div id="util-menu">
                    <ul>
                        <li><a>홈</a></li>
                        <li><a href="#">E-mail : tour@yeosu.com</a></li>
                        <li><a href="#">Contents</a></li>
                        <li><button type="button">관리자모드</button></li>
                    </ul>
                </div>
            </div>

            <div id="main-menu" class="main-hd">
                <div class="wrap">
                    <ul class="menu">

                        <li><a href="#">Menu 1</a></li>

                        <li><a href="#">Menu 2</a></li>

                        <li><a href="#">Menu 3</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div id="contents" class="bd-view">
            <div class="wrap">
                <div class="page-title">
                    <h2>공지사항</h2>
                </div>

                <div class="bd-title">
                    <h5>No.1</h5>
                    <h3>이 페이지는 게시판을 연동한 글들의 내용들이 보여집니다.</h3>
                </div>

                <div class="bd-text">
                    <div class="img-area"><img src="../images/13_1.jpg"></div>
                    <div class="text">
                        이 페이지는 게시판을 연동한 글들의 내용들이 보여집니다.
                    </div>
                </div>

                <div class="bd-info">
                    <p class="username"><b>작성자</b> : 관리자</p>
                    <p class="date"><b>작성일시</b> : 2018-07-19 19:33:40</p>

                    <p class="hit"><b>조회수</b> : 0</p>
                </div>

                <div class="file-l">
                    <span>첨부파일</span>

                    <ul>
                        <li><a href="#">5.jpg</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="wrap">
                <ul>
                    <li>상호 : 전남 관광</li>
                    <li>주소 : 전라남도 전남시 전남군</li>
                    <li><span>전화 : 010-1234-1234</span></li>
                    <li>Copyright &copy; 2018전남관광. All Rights Reserved.</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
