<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>관리자</title>

    <!-- DEFAULT CSS -->
    <link rel="stylesheet" type="text/css" href="../../css/default.css">

    <!-- ADMIN CSS -->
    <link rel="stylesheet" type="text/css" href="../../admin/css/admin.css">

    <script type="text/javascript" src="../../js/jquery.min.js"></script>

    <script type="text/javascript" src="../../js/jquery-ui.js"></script>

    <!-- SCRIPT -->
    <script type="text/javascript" src="../../js/script.js"></script>
</head>

<body>
    <div id="wrap" class="admin">
        <div id="header">
            <div class="wrap">
                <div class="hd-top">
                    <div id="logo">
                        <h1><a href="#">ADMIN</a></h1>
                    </div>

                    <a href="#" class="home-move">홈페이지로 이동</a>
                    <p><a href="#">LOG OUT</a></p>
                </div>

                <div class="hd-bot">
                    <ul>
                        <li>
                            <a href="#">관리 메뉴</a>
                        </li>
                    </ul>

                    <div class="submenu" style="display:none;">
                        <ul>
                            <li><a href="#">홈페이지 관리</a></li>
                            <li><a href="#">메뉴관리</a></li>
                            <li><a href="#">메인페이지 구성</a></li>
                            <li><a href="#">메뉴별컨텐츠</a></li>
                            <li><a href="#">애니메이션 구성</a></li>
                        </ul>

                        <ul>
                            <li><a href="#">게시판</a></li>
                            <li><a href="#">설정</a></li>
                        </ul>

                        <span>메뉴 열어두기</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="contents" class="menu_contents">
            <div class="wrap">
                <div class="page-title">
                    <h3>메뉴별 컨텐츠</h3>
                </div>

                <table>
                    <thead>
                        <th>1차 메뉴</th>
                        <th>2차 메뉴</th>
                        <th>컨텐츠 구성</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="background-color:#3a3a3a; color:#fff;">커뮤니티</td>
                            <td></td>
                            <td>
                                HTML
                                <button type="button" class="cont-change">변경</button></td>
                        </tr>
                        <tr>
                            <td style="background-color:#3a3a3a; color:#fff;">음식</td>
                            <td></td>
                            <td>
                                게시판 - 공지사항 <button type="button" class="cont-change" >변경</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="background-color:#3a3a3a; color:#fff;">콩물국수</td>
                            <td> HTML
                                <button type="button" class="cont-change" >변경</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="background-color:#3a3a3a; color:#fff;">김치찌개</td>
                            <td> HTML
                                <button type="button" class="cont-change" >변경</button></td>
                        </tr>
                        <tr>
                            <td style="background-color:#3a3a3a; color:#fff;">관광명소</td>
                            <td></td>
                            <td>
                                게시판 - 오동도<button type="button" class="cont-change" >변경</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="background-color:#3a3a3a; color:#fff;">여수엑스포</td>
                            <td> 게시판 - 메뉴별 컨텐츠 제작 영상 <button type="button" class="cont-change" >변경</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="background-color:#3a3a3a; color:#fff;">진남관</td>
                            <td> 게시판 - 진남관 <button type="button" class="cont-change" >변경</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="footer">
            <div class="copy">
                <p>COPYRIGHT (c) 2018 ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </div>

</body>

</html>
