/* 기본 설정 */
*{
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: Arial;
	user-select: none;
}
.container{
	width: 1440px;
}
.clear{
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}
a{
	/*color: inherit;*/
	/*text-decoration: none;*/
}
/*::-webkit-scrollbar{
	display: none;
}*/
/* //기본 설정 */

/* start Desgin */
.popup{
	width: 300px;
	height: 250px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	border-radius: 500px;
	background: white;
	padding-top: 25px;
}
.popup > .title{
	font-size: 36px;
	font-weight: 700;
	color: #404040;
}
.popup > .title > span{
	font-size: 84px;
}
#start > .menuBtn{
	text-align: right;
	padding: 20px;
	font-size: 30px;
}
#start > .menuBtn > i{
	cursor: pointer;
}

#makeWebBtn{
	background: none;	
	border: 2px solid #404040;
	outline: 0;
	width: 200px;
	height: 40px;
	font-weight: 700;
	color: #404040;
	font-size: 18px;
	cursor: pointer;
}
#makeWebBtn:hover{
	color: white;
	background: #404040;
}

#saveList{
	position: fixed;
	width: 450px;
	height: 100vh;
	top: 0;
	/*right: 0;*/
	right: -450px;
	transition: 0.5s;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	background: white;
}
#saveList > .title{
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	font-weight: 700;
	padding-right: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#saveList > .title > span{
	float: right;
	cursor: pointer;
}

#saveList #sortBox{
	width: 100%;
}
#saveList #sortBox > select{
	width: 50%;
	height: 40px;
	padding-left: 10px;
	border: 0;
	outline: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	float: left;
}
#saveList #sortBox > select:nth-child(1){
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#saveList .listBox{
	width: 100%;
	height: calc(100vh - 100px);
	padding-top: 20px;
	overflow-y: auto;
}
#saveList .list{
	width: calc(100% - 40px);
	height: 150px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 5px solid red;
	margin-bottom: 20px;
}
#saveList .list:nth-child(6n + 1){
	border-left: 5px solid #f44336;
}
#saveList .list:nth-child(6n + 2){
	border-left: 5px solid #ffc107;
}
#saveList .list:nth-child(6n + 3){
	border-left: 5px solid #4caf50;
}
#saveList .list:nth-child(6n + 4){
	border-left: 5px solid #03a9f4;
}
#saveList .list:nth-child(6n + 5){
	border-left: 5px solid #3f51b5;
}
#saveList .list:nth-child(6n + 6){
	border-left: 5px solid #9c27b0;
}
#saveList .list > .content{
	width: 100%;
	height: 110px;
	overflow: hidden;
}
#saveList .list > .content > .imgBox{
	width: 100px;
	height: 100%;
	margin-left: 20px;
	float: left;
	position: relative;
}
#saveList .list > .content > .imgBox img{
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid rgba(0, 0, 0, 0.1);
}
#saveList .list > .content > .info{
	width: calc(100% - 140px);
	height: 100%;
	float: left;
	padding-top: 22px;
}
#saveList .list > .content > .info > *{
	padding-left: 15px;
}
#saveList .list > .content > .info > .title{
	font-weight: 700;
}
#saveList .list > .content > .info > .des{
	font-size: 14px;
	padding-top: 1px;
}
#saveList .list > .content > .info > .createDate{
	font-size: 13px;
	padding-top: 5px;
}

#saveList .list > .menuBox{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background: #f2f2f2;
}
#saveList .list > .menuBox > *{
	font-size: 14px;
	display: inline-block;
	font-weight: 700;
}
#saveList .list > .menuBox > .editDate{
	padding-left: 10px;
}
#saveList .list > .menuBox .editBtn{
	padding: 0 25px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
#saveList .list > .menuBox .options{
	padding: 0 15px;
	cursor: pointer;
}
/* //start Desgin */

/* makeView */
#makeView{
	width: 100%;
	height: 100vh;
	display: none;
}
#makeView > #leftMenu{
	width: 100px;
	height: 100vh;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	position: fixed;
	left: -100px;
	top: 0;
	transition: 0.5s;
}
#makeView .btnBlock{
	width: 50px;
	height: 50px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	margin: 25px auto;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	color: white;
	transition: 0.5s;
}
#makeView .btnBlock:hover{
	animation: 0.5s bounce;
}
@keyframes bounce{
	25%{
		transform: scale(1.1);
	}
	50%{
		transform: scale(1);	
	}
	75%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);	
	}
}
#makeView .btnBlock:nth-child(6n + 1){
	background: #f44336;
}
#makeView .btnBlock:nth-child(6n + 2){
	background: #ffc107;
}
#makeView .btnBlock:nth-child(6n + 3){
	background: #4caf50;
}
#makeView .btnBlock:nth-child(6n + 4){
	background: #03a9f4;
}
#makeView .btnBlock:nth-child(6n + 5){
	background: #3f51b5;
}
#makeView .btnBlock:nth-child(6n + 6){
	background: #9c27b0;
}
#makeView .btnBlock.small{
	font-size: 12px;
}
/* //makeView */

/* popup */
#back{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 2000;
}
#popup{
	background: white;
	border-radius: 5px;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: none;
	z-index: 2001;
}
/* //popup */

/* elementOption */
#elementOption{
	width: 200px;
	background: white;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 50px;
	display: none;
}
#elementOption .colorSelect{
	width: 100%;
	height: 120px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#elementOption .colorOption{
	width: 100%;
	height: 20px;
}
#elementOption .colorOption > div{
	width: calc(100% - 20px);
	height: 10px;
	margin: 10px;
	background-image: url(../image/img2.png);
	background-size: 100% 100%;
}

#elementOption .colorOption2{
	width: 100%;
	height: 22px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#elementOption .colorOption2 > div{
	width: calc(100% - 20px);
	height: 10px;
	margin: 10px;
	margin-top: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), black);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%; 
  background: transparent; 
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /*border: 1px solid #000000;*/
  height: 16px;
  width: 16px;
  border-radius: 15px;
  /*position: absolute;*/
  transform: translateY(38%);
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0px 0px 1px #000000; /* Add cool effects to your sliders! */
}

.box{
	width: 100%;
	min-height: 40px;
	line-height: 20px;
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.box > select{
	float: right;
}
.currentColor{
	width: 15px;
	height: 15px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	float: right;
	/*position: relative;
	top: 50%;
	transform: translateY(-50%);*/
	background: white;
}
/* //elementOption */

/* removeAndDownloadBox */
#removeAndDownloadBox{
	width: auto;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: white;
	display: inline-block;
	border-radius: 5px;
	display: none;
}
/* //removeAndDownloadBox */

.drag {
	position: absolute;
	border: 1px solid #000;
	background: #fff;
}

.text a {color: blue;}