<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <title>우리동네배달</title>
    <script type="text/javascript" src="assets/js/jquery/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="assets/js/jquery/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-4.1.1-dist/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
    <link href="assets/js/jquery/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <link href="assets/css/dashboard.css" rel="stylesheet" />
  </head>
  
  <body>
    <div class="page">
      <div class="page-main">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex text-center">
              <a class="header-brandm col-12" href="index.html">
                <img src="./assets/images/logo.png" class="header-brand-img" alt="우리동네배달">
              </a>
            </div>
          </div>
        </div>
        <div class="header d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-lg-row">

                  <li class="nav-item">
                    <a href="index.html" class="nav-link active"><i class="fe fe-home"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="login.html" class="nav-link"><i class="fe fe-log-in"></i> 로그인</a>
                  </li>
                  <li class="nav-item">
                    <a href="join.html" class="nav-link"><i class="fe fe-home"></i> 회원가입</a>
                  </li>
                  <li class="nav-item">
                    <a href="order.html" class="nav-link"><i class="fe fe-home"></i> 주문하기</a>
                  </li>
                  <li class="nav-item">
                    <a href="details.html" class="nav-link"><i class="fe fe-home"></i> 주문내역</a>
                  </li>
                  <li class="nav-item">
                    <a href="affiliation.html" class="nav-link"><i class="fe fe-home"></i> 가맹회원</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <!-- page title start-->
              <h1 class="page-title">
                 주문내역
              </h1>
              <!-- page title end-->
            </div>

            <!-- contents start -->
            <div class="col-12">
              <div class="row">
                <div class="col-6 mb-2 text-left">
                  <h3 style="color: red;">총 결제금액 : 250,000원</h3> 
                </div>
                <!-- 관리자모드 -->
                <div class="col-6 mb-2 text-right">
                  <select class="custom-select col-4">
                    <option value="">회원검색</option>
                    <option value="">사용자1[user1]</option>
                    <option value="">사용자2[user2]</option>
                    <option value="">사용자3[user3]</option>
                    <option value="">사용자4[user4]</option>
                    <option value="">사용자5[user5]</option>
                  </select>
                  <button type="button" class="btn btn-secondary btn-space">확인</button>
                </div>

                <div class="col-12">
                  <div class="card">
                    <div class="table-responsive">
                      <table class="table table-bordered table-vcenter text-nowrap card-table">
                        <thead>
                          <tr>
                            <th>결제일자</th>
                            <th>가맹점정보</th>
                            <th>메뉴이름</th>
                            <th>가격</th>
                            <th>수량</th>
                            <th>주문상태</th>
                            <th>총 합계</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-center"  rowspan="7">
                              2018-10-07
                            </td>
                            <td class="text-center" rowspan="3">
                              <img src="assets/images/test_logo1.png" alt="">
                              <p class="m-0">
                                <small>도레미피자</small>
                              </p>
                            </td>
                            <td class="text-center">
                              불고기 피자
                            </td>
                            <td class="text-center">
                              23,000원
                            </td>
                            <td class="text-center">
                              2개
                            </td>
                            <td class="text-center" rowspan="3">
                              배송중
                            </td>
                            <td class="text-center" rowspan="5">
                              163,000원
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                             이탈리안 피자
                            </td>
                            <td class="text-center">
                              23,000원
                            </td>
                            <td class="text-center">
                              1개
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                             씨푸드 피자
                            </td>
                            <td class="text-center">
                              25,000원
                            </td>
                            <td class="text-center">
                              1개
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center" rowspan="2">
                              <img src="assets/images/test_logo.png" alt="">
                              <p class="m-0">
                                <small>피자스타</small>
                              </p>
                            </td>
                            <td class="text-center">
                              고구마무스 피자
                            </td>
                            <td class="text-center">
                              23,000원
                            </td>
                            <td class="text-center">
                              2개
                            </td>
                            <td class="text-center" rowspan="2">
                              배송완료
                              <p class="m-0">
                                <a href="details-review.html" class="btn btn-sm btn-outline-primary">리뷰작성</a>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                             고구마무스 피자
                            </td>
                            <td class="text-center">
                              23,000원
                            </td>
                            <td class="text-center">
                              2개
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center" rowspan="2">
                              <img src="assets/images/test_logo.png" alt="">
                              <p class="m-0">
                                <small>피자스타</small>
                              </p>
                            </td>
                            <td class="text-center">
                              고구마무스 피자
                            </td>
                            <td class="text-center">
                              23,000원
                            </td>
                            <td class="text-center">
                              1개
                            </td>
                            <td class="text-center" rowspan="2">
                              배송완료
                              <p class="m-0">
                                <a href="details-review.html" class="btn btn-sm btn-outline-primary">리뷰작성</a>
                              </p>
                            </td>
                            <td class="text-center" rowspan="2">
                              46,000원
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                             고구마무스 피자
                            </td>
                            <td class="text-center">
                              23,000원
                            </td>
                            <td class="text-center">
                              1개
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center"  rowspan="2">
                              2018-10-06
                            </td>
                            <td class="text-center" rowspan="2">
                              <img src="assets/images/test_logo.png" alt="">
                              <p class="m-0">
                                <small>피자스타</small>
                              </p>
                            </td>
                            <td class="text-center">
                              쉬림프 피자
                            </td>
                            <td class="text-center">
                              18,000원
                            </td>
                            <td class="text-center">
                              1개
                            </td>
                            <td class="text-center" rowspan="2">
                              배송완료
                              <p class="m-0">
                                <a href="details-review.html" class="btn btn-sm btn-outline-primary">리뷰작성</a>
                              </p>
                            </td>
                            <td class="text-center" rowspan="2">
                              41,000원
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                             고구마무스 피자
                            </td>
                            <td class="text-center">
                              23,000원
                            </td>
                            <td class="text-center">
                              1개
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <!-- contents end -->

          </div>
        </div>
      </div>
     
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-auto col-lg-auto mt-3 mt-lg-0 text-center">
              Copyright © 2018 <a href="">우리동네배달</a> All rights reserved.
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>