<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <title>우리동네배달</title>
    <script type="text/javascript" src="assets/js/jquery/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="assets/js/jquery/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-4.1.1-dist/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
    <link href="assets/js/jquery/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <link href="assets/css/dashboard.css" rel="stylesheet" />
  </head>
  
  <body>
    <div class="page">
      <div class="page-main">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex text-center">
              <a class="header-brandm col-12" href="index.html">
                <img src="./assets/images/logo.png" class="header-brand-img" alt="우리동네배달">
              </a>
            </div>
          </div>
        </div>
        <div class="header d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-lg-row">

                  <li class="nav-item">
                    <a href="index.html" class="nav-link active"><i class="fe fe-home"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="login.html" class="nav-link"><i class="fe fe-log-in"></i> 로그인</a>
                  </li>
                  <li class="nav-item">
                    <a href="join.html" class="nav-link"><i class="fe fe-home"></i> 회원가입</a>
                  </li>
                  <li class="nav-item">
                    <a href="order.html" class="nav-link"><i class="fe fe-home"></i> 주문하기</a>
                  </li>
                  <li class="nav-item">
                    <a href="details.html" class="nav-link"><i class="fe fe-home"></i> 주문내역</a>
                  </li>
                  <li class="nav-item">
                    <a href="affiliation.html" class="nav-link"><i class="fe fe-home"></i> 가맹회원</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <!-- page title start-->
              <h1 class="page-title">
                 리뷰작성
              </h1>
              <!-- page title end-->
            </div>

            <!-- contents start -->
            <div class="col-12">
              <div class="row">
                
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title" style="font-size: 1.2em; font-weight: bold;">피자스타 리뷰작성</h3>
                  </div>
                  <div class="card-body1 p-5">
                    <form>
                      <div class="form-group col-2">
                        <label class="form-label">평점</label>
                        <select class="custom-select">
                          <option value="">선택</option>
                          <option value="">1점</option>
                          <option value="">2점</option>
                          <option value="">3점</option>
                          <option value="">4점</option>
                          <option value="">5점</option>
                        </select>
                      </div>


                      <div class="form-group col-12">
                        <label class="form-label">리뷰내용</label>
                        <textarea class="form-control" rows="3"></textarea>
                      </div>

                      <div class="form-footer col-12">
                        <button type="submit" class="btn btn-primary btn-block">리뷰작성</button>
                      </div>
                    </form>
                  </div>
                </div>
                
                
              </div>
            </div>
            <!-- contents end -->

          </div>
        </div>
      </div>
     
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-auto col-lg-auto mt-3 mt-lg-0 text-center">
              Copyright © 2018 <a href="">우리동네배달</a> All rights reserved.
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>