* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { width:100%; height:100%; }
html { overflow-y:scroll; }
ul, li { list-style: none; }
a { text-decoration: none; color:#000; }
button { cursor: pointer; }
input, button { border:0; }
#wrap { min-width:1280px; overflow:hidden; }
.wrap { max-width: 1100px; margin: 0 auto; }
#header { float:left; width:100%; }
#contents { float:left; width:100%; }
#footer { float:left; width:100%; }
.save-btn { float:left; width:100%; text-align:center; margin:30px 0 50px; }
.save-btn button { padding:10px 15px; background-color:#333; color:#fff; border-radius:3px; }